<template>
    <div>
        <h1>test</h1>

        <p>
            <router-link :to="{ name: 'login' }">Home</router-link> |
        </p>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>