/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.box-table-search{
	margin-left:-15px;margin-top:10px;
}

.box-image{
	transition: box-shadow .3s;
	border-radius:10px;
	border: 1px solid #ccc;
	background: #fff;
	background-color:#d6d6d6;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;
	margin-bottom:20px;
  }
  
  .box-image-title{
	color:#727272;
  }
  
  .box-image:hover{
	cursor:pointer;
	box-shadow: 0 0 20px #888888; !important;
	
  }
  
  button.close2{
	color:white;
  }

  .btn-circle.btn-lg { 
    width: 70px; 
    height: 70px; 
    padding: 20px 16px; 
    border-radius: 35px; 
    font-size: 40px; 
    text-align: center; 
} 

.fileupload-preview img{
	max-width:100%;
}

checkbox.big-checkbox {
	width: 40px; 
	height: 40px; 
}

.notif-upload{
  color: Red;
}

.other-img img{
  margin-left:-20px;
  margin-top:-30px;
}
.other-img:hover{
  cursor:pointer;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}