@charset "utf-8";
/* CSS Document */
ul {
  margin-left: -21px !important;
}
section {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}
a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}
.btn-lg {
  padding: 0.5rem 2rem;
  font-size: 24px;
  border: 1px solid #fff;
  box-shadow: 0px 3px 1px rgba(16, 16, 16, 0.6);
}
#section1, #section1 .fp-slide, #section1 .fp-tableCell {
  height: auto !important;
}
@keyframes fadingout {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
.txshadow, .konfirmasibox label {
  text-shadow: 0px 3px 1px rgba(16, 16, 16, 0.6);
}
.playfadeout {
  animation-name: fadingout;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0px;
  background-color: #f8f8f8;
}
.headerhome {
  display: none;
}
.isi-cerita, .isi-video, .mapbox, .thumbcmbox, .plus, .desc-produk {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
}
.sidebar {
  width: 15%;
  height: auto;
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 0 20px;
  z-index: 1;
  float: left;
}
.rightbar {
  color: #fff;
  background-color: #f8f8f8;
  height: 100vh;
  display: block;
  position: relative;
}
.sidebar-menu ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 24px;
}
.logosec {
  width: auto;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 50px;
}
.navmobile {
  display: none;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #022C80;
}
.nav-link {
  font-size: 20px;
}
.navbar-light {
  color: #fff !important;
}
.mainmenu {
  width: 225px;
  height: auto;
  position: relative;
  display: block;
  font-size: 20px;
}
.slidemenu {
  display: block;
  margin-left: -25vw;
  font-size: 1.3rem;
  text-shadow: 5px 5px 10px #000;
}
.slidemenu ul li {
  list-style-type: none;
  margin-bottom: 16px;
}
.openslidemenu {
  margin-left: 0px;
  transition: margin .5s ease-out;
}
#tutup-menu {
  display: none;
}
.sidebar-sosmed {
  width: 80%;
  height: auto;
  position: absolute;
  display: block;
  bottom: 0px;
  text-align: center;
  padding: 0 0 10px 10px;
}
.headers {
  width: 100%;
  height: 211px;
  background: url('../images/bg-topbar_01.jpg') top left no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  color: #fff;
}
.div_logo {
  width: auto;
  height: auto;
  position: relative;
  display: block;
}
.mainmenu {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.mainmenu a {
  padding: 0 35px;
  color: #9A9A9A;
}
.mainmenu a:hover {
  color: #fff;
}
.slider_container {
  width: 100%;
  height: 920px;
  display: block;
  position: relative;
}
.tahuntx {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  display: block;
}
.tahuntx a {
  color: #a8a8a8;
}
.tahuntx a span {
  margin: 0 10px;
}
.tahuntx > .active {
  color: #fff;
}
.articlebox {
  padding-top: 100px;
}
.vid-thumb {
  width: 100%;
  max-height: 178px;
  position: relative;
  display: block;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.vid-desc {
  width: 100%;
  max-height: 288px;
  display: block;
  position: relative;
  overflow: hidden;
}
.carousel-item, .slider_container {
  height: 600px;
}
.carousel .carousel-item {
  background-size: contain;
}
.bgslide-02 {
  background: url('../images/bg-slider02.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-03 {
  background: url('../images/bg-slider03.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-04 {
  background: url('../images/bg-slider04.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-05 {
  background: url('../images/bg-slider01.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-06 {
  background: url('../images/bg-slider02.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-07 {
  background: url('../images/bg-slider03.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-08 {
  background: url('../images/bg-slider04.jpg') top center no-repeat;
  background-size: cover;
}
.bgslide-09 {
  background: url('../images/bg-slider04.jpg') top center no-repeat;
  background-size: cover;
}
.copyright {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #032D81;
  font-size: 12px;
  text-align: center;
}
.peringatan {
  padding: 10px;
  height: auto;
  color: #000;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  background-color: #fff;
}
.bg_detailcerita, .bg_produk, .bg_konfirmasi {
  background: url('../images/bg-slider02.jpg') top center no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.bg_produk {
  background: #f8f8f8;
	color: #000;
}
.bg_konfirmasi {
  background: url('../images/bg-konfirmasi.jpg') top center no-repeat fixed;
  background-position: 0vw 0vh;
  background-size: cover;
}
.bg_splash {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: url('../images/bg_splash.jpg') center bottom no-repeat;
  /*background-position: 0vw -180px; */
  background-size: auto;
}
.isicontent {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
}
.konfirmasibox {
  font-size: 24px;
  margin-bottom: 30px;
}

.m1_input
{
	margin: 0 0.5rem;
}

.forbiddenbox {
  height: 75vh;
}
/* MENU UTAMA */
.clipthumb01, .clipthumb02, .clipthumb03, .clipthumb04 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  background: url('../images/clip01.jpg') 50% 20% no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: all ease .5s;
}
.clipthumb02 {
  background: url('../images/clip02.jpg') top center no-repeat;
  background-position: 0px 50%;
  background-size: cover;
}
.clipthumb03 {
  background: url('../images/clip03.jpg') top center no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}
.clipthumb04 {
  background: url('../images/clip04.jpg') bottom right no-repeat;
  background-size: cover;
}
.clipthumb01:hover, .clipthumb02:hover, .clipthumb03:hover, .clipthumb04:hover {
  transform: scale(1.2);
  transition: all ease .5s;
}
.menutx01, .menutx02, .menutx03, .menutx04 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 5%;
  margin-left: 5%;
  font-size: 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-shadow: 1px 4px 0px #b01e1e;
  line-height: 40px;
}
.menutx02 {
  margin-left: 10%;
}
.menutx03 {
  margin-left: 10%;
}
.menutx04 {
  margin-left: 10%;
}
/* END MENU UTAMA */
.suarabox {
  min-height: 100vh;
  background: url('../images/bg-suara-konsumen.jpg') top left no-repeat fixed;
  background-size: cover;
  padding-top: 60px;
}
.form-group label {
  text-transform: uppercase;
}
.separates-border {
  width: 100%;
  height: 5px;
  position: relative;
  display: block;
  margin: 20px 0px;
  background-color: #032D81;
}
.card {
  background: rgba(255, 255, 255, .1)
}
.cmbox {
  width: auto;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
}
.thumbcmbox {
  margin-bottom: 0px;
  font-size: 14px;
}
.gedein {
  transform: scale(1.5);
  order: 1;
  z-index: 3;
  position: absolute;
  top: 0px;
}
.plus {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  z-index: 2;
  box-shadow: 0 0 0 0 #fff;
  text-align: right;
  display: inline-block;
}
.upscale {
  position: fixed;
  z-index: 11;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  /*transform: scale(1.1);*/
  transition: all ease-out .2s;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, .95);
  order: 1;
  text-align: center;
	color:#fff;
}
.desc-produk {
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
}
.desc-rokok {
  display: none;
}
.showup {
  display: block;
}
.tutup01, .tutup02, .tutup03 {
  z-index: 2;
  width: auto;
  height: auto;
  position: absolute;
  padding-left: 10px;
  display: none;
  top: 20px;
  right: 20px;
}
.ada {
  display: block;
}
.hilang {
  display: none;
}
/* FLEXING */
.flexbox {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
}
.fleximg, .flxtxt {
  width: auto;
  height: auto;
  position: relative;
  margin: 10px;
}
.fleximg img:first-child:hover {
  transform: scale(1.05);
  transition: all ease-out .5s;
}
.flexrow {
  top: 50%;
  transform: translateY(-50%);
  flex-direction: row;
  justify-content: center;
}
.flexrow > .fleximg {
  order: 2;
}
.flexrow > .flxtxt {
  order: 1;
  text-align: left;
}
.custom-control-label::before, .custom-control-label::after {
  margin-top: .5rem;
}
.scrolldown {
  position: absolute;
  height: auto;
  width: 100vw;
  display: block;
  bottom: 50px;
  text-align: center;
}
.input_form {
  border: 5px solid #007bff !important;
}
.pwh {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.pwh-popup {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  width: 100%;
  font-size: 50px;
  text-align: center;
  z-index: 99;
}
.pwh-02 {
  position: absolute;
	bottom: 0px;
  width: 100vw;
  display: block !important;
}
.pwh-popup img {
  max-width: 100%;
}
.owl-carousel {
  padding: 60px 0;
}
/* MEDIA QUERYES */
/* BREAK POINTS */
@media screen and (max-width: 1366px) {
  .menutx03, .menutx04 {
    margin-left: 15%;
    bottom: 20%;
  }
	.menutx01 {
		bottom: 10%;
	}
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .bg_splash {
    background-size: cover;
  }
  .pwh-02 {
    display: none !important;
  }
  .pwh {
    display: none;
  }
  .peringatan {
    text-align: center;
  }
  .carousel-indicators {
    margin: 0;
    width: 100vw;
    justify-content: flex-start;
  }
  .tahuntx {
    display: none;
  }
  .headers {
    height: 130px;
  }
  .navmobile {
    display: block;
  }
  .mainmenu {
    display: none !important;
  }
  .vid-thumb {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .articlebox {
    padding-top: 20px;
  }
  .vid-desc {
    padding: 0 20px;
    height: auto;
    margin-bottom: 20px;
  }
  .slider_container {
    background-size: cover;
  }
  .carousel-item, .slider_container {
    height: 1500px;
  }
  .navmobile ul {
    margin-left: 0px !important;
  }
  .div_logo {
    text-align: center;
  }
  .sidebar {
    display: none;
  }
  .isicontent {
    height: auto;
  }
  .rightbar {
    height: auto;
    display: block;
  }
  .menutx01, .menutx02, .menutx03, .menutx04 {
    margin-left: 5%;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .headerhome {
    display: block;
  }
  .flexrow {
    flex-direction: column;
    justify-content: center;
  }
  .flexrow > .fleximg {
    order: 2;
    width: 320px;
  }
  .flexrow > .flxtxt {
    order: 1;
    width: 320px;
    text-align: left;
  }
  .scrolldown {
    position: absolute;
    height: auto;
    width: 100vw !important;
    display: block;
    bottom: 35vh;
    margin: 0 auto;
  }
  .bg_konfirmasi {
    background-position: 0vw 0vh;
  }
} /* END MOBILE */
@media screen and (max-width: 320px) {
  .tahuntx {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #444;
  }
}
.pwh-02 {
  display: none;
}
.bgslide-01 {
  padding: 0 10px;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}
/*// Extra large devices (large desktops, 1200px and up)*/